.TeamCard {
    width: 90%;
    height: 80%;
    color: aliceblue;

}
.container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4,1fr);
    height: 500px;
}

.TeamCard img {
    width: 200px;
    height: 350px;
}